<app-header/>
<div class="topBottom">
  <div class="showPage">
    <div class="showLeft">
      <img src="https://cdn.myanimelist.net/images/anime/1938/140374l.jpg" alt="{{show.title}}">
      <p>Type: {{show.type}}</p>
      <p>Episodes: {{show.episodes}}</p>
      <div *ngIf="show.genres">
        <p>Genres: {{getGenreString(show)}}</p>
      </div>
      <div *ngIf="show.startDate">
        <p>Start date: {{show.startDate}}</p>
      </div>
      <div *ngIf="show.startDate">
        <p>{{show.endDate}}</p>
      </div>
      <p>{{show.comments}}</p>
    </div>
    <div class="showRight">
      <h1>{{show.title}}</h1>
      <br>
      <p>Description:</p>
      <p>{{show.description}}</p>
      <br>

    </div>
  </div>
  <br>
  <div class="comments">
    <p>Comments ({{show.comments ? show.comments.length : 0}}):</p>
    <app-add-comment [showId]="show.id" />
    <app-comment *ngFor="let e of show.comments; let i = index" [comment]="e" [index]="i"/>
  </div>

</div>

