<input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="search">

<table mat-table [dataSource]="shows | filter : 'title' : search" class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let show; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let show"> {{show.title}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let show"> {{show.type}} </td>
  </ng-container>

  <ng-container matColumnDef="genres">
    <th mat-header-cell *matHeaderCellDef> Genres </th>
    <td mat-cell *matCellDef="let show"> {{getGenreString(show)}} </td>
  </ng-container>

  <ng-container matColumnDef="episodes">
    <th mat-header-cell *matHeaderCellDef> Episodes </th>
    <td mat-cell *matCellDef="let show"> {{show.episodes}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let show"> {{show.startDate | date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
