.centerScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 100px);
  width: 400px;
  margin: 0 auto;
}

.error {
  color: red;
}
